/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
#wpadminbar .quicklinks ul {
  display: inline!important;
}
.header-bg {
  background: #f2f2f2;
  background: -webkit-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
  background: -moz-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
  background: -ms-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
  background: -o-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
  background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
}
html,
body {
  background: #f2f2f2;
  font-size: .9rem;
  font-family: "lato", helvetica-neue, helvetica, arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", helvetica-neue, helvetica, arial, sans-serif;
  font-weight: bold;
  color: #092659;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: rgba(9, 9, 9, 0.55);
}
ul li {
  position: relative;
  padding: 1rem 0 1rem 3rem;
}
ul li:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #10449E;
  top: 50%;
  margin-top: -5px;
  left: 1.25rem;
  margin-left: -5px;
}
ul.vertical-list {
  flex-direction: column;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 71rem;
  margin: 0 auto;
}
.main-nav .navigation {
  list-style: none;
  text-align: center;
}
.main-nav .navigation li {
  padding: 0;
  display: inline-block;
}
.main-nav .navigation li a {
  padding: 20px;
  -moz-transform: skew(30deg, 0);
  -o-transform: skew(30deg, 0);
  -webkit-transform: skew(30deg, 0);
  -ms-transform: skew(30deg, 0);
  transform: skew(30deg, 0);
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  font-weight: bold;
  margin-left: -5px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.main-nav .navigation li a span {
  display: inline-block;
  -moz-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
  -webkit-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
}
.main-nav .navigation li a.commercialcleaning {
  background-color: #dd5531;
}
.main-nav .navigation li a.commercialcleaning:hover {
  background-color: #dd8e31;
}
.main-nav .navigation li a.construction {
  background-color: #10449E;
}
.main-nav .navigation li a.construction:hover {
  background-color: #124eb5;
}
.main-nav .navigation li a.painting {
  background-color: #092659;
}
.main-nav .navigation li a.painting:hover {
  background-color: #0b3070;
}
@media screen and (min-width: 41rem) {
  #hero {
    max-height: 40vh;
    margin-top: -70px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1129px) {
  #hero {
    max-height: 55vh;
    margin-top: -70px;
  }
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.11111rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 0.88889rem;
  background-color: #10449E;
  box-shadow: 0px 3px 0 #0b3070;
  color: #f2f2f2;
  transition: background-color 0.25s ease-out;
}
.btn:hover {
  background-color: #1762e3;
  box-shadow: 0px 3px 0 #124eb5;
}
.btn.tiny {
  padding: 0.55556rem 1.11111rem 0.61111rem 1.11111rem;
  font-size: .6111rem;
}
.btn.small {
  padding: 0.77778rem 1.55556rem 0.83333rem 1.55556rem;
  font-size: 0.72222rem;
}
.btn.large {
  padding: 1rem 2rem 1.05556rem 2rem;
  font-size: 1.11111rem;
}
.btn.expand {
  padding-left: 0.88889rem;
  padding-right: 0.88889rem;
  width: 100%;
}
.btn.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.btn.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.btn.dark-blue {
  background-color: #092659;
  box-shadow: 0 3px 0 #020813;
}
.btn.dark-blue:hover {
  background-color: #10449e;
  box-shadow: 0px 3px 0 #0b3070;
}
.btn.orange {
  background-color: #dd5531;
  box-shadow: 0px 3px 0 #a6381b;
}
.btn.orange:hover {
  background-color: #dd8e31;
  box-shadow: 0px 3px 0 #e16747;
}
.wpcf7-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.wpcf7-form p {
  margin: 0 0 .5rem 0;
  display: flex;
  flex-direction: column;
}
.wpcf7-form .wpcf7-control-wrap {
  display: flex;
}
.wpcf7-form .wpcf7-checkbox {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.wpcf7-form .wpcf7-checkbox .wpcf7-list-item {
  margin: .25rem 0;
}
.raq-lists {
  display: flex;
}
.raq-lists .raq-list {
  flex: 1;
}
.raq-lists .raq-list h3 {
  color: #10449E;
}
.wpcf7-form-control-wrap #questionscomments {
  width: 100%!important;
}
.team-wrap {
  display: flex;
  flex-wrap: wrap;
}
.team-member {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.team-member .team-member-photo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1.25rem;
  border: 4px solid #dd5531;
  box-shadow: 0 4px 4px rgba(9, 9, 9, 0.25);
}
.team-member .team-member-photo img {
  width: 100%;
  height: 100%;
  display: block;
}
.team-member h2 {
  color: #092659;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  text-align: center;
}
.team-member h2 .team-title {
  color: #dd5531;
  font-size: .9rem;
  display: block;
  font-family: "Lato";
}
.team-member ul {
  font-size: .9rem;
}
.team-member ul li {
  padding: .5rem .25rem 0 1rem;
}
.team-member ul li:before {
  display: none;
}
@media only screen and (min-width: 51rem) {
  .team-wrap {
    flex: 3;
  }
  .team-member {
    max-width: 45%;
  }
  .team-member .team-member-photo {
    width: 200px;
    height: 200px;
  }
}
#site-wrapper {
  overflow: hidden;
}
#page-wrap {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: transform .35s;
  background-color: #f2f2f2;
  box-shadow: -5px 0 25px rgba(0, 0, 0, 0.25);
}
#page-wrap.isOpen {
  transform: translate3D(75%, 0, 0);
}
#mobi-nav {
  width: 75%;
}
#mobi-nav .mobi-nav-inner {
  position: fixed;
  width: 75%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  color: #f2f2f2;
  background-color: #092659;
  overflow: auto;
}
#mobi-nav .mobi-nav-inner .topper {
  background-color: #10449E;
  padding: 1rem;
  background: url("../img/mobile-nav-header.png") center center;
  height: 10rem;
}
#mobi-nav .mobi-nav-inner .topper .mobile-nav-link {
  font-size: 2rem;
}
#mobi-nav .mobi-nav-inner .topper .sidebar-logo {
  text-align: center;
}
#mobi-nav .mobi-nav-inner .topper .sidebar-logo img {
  height: 8rem;
}
#mobi-nav .mobi-nav-inner .mn-body ul {
  flex-direction: column;
  text-align: left;
}
#mobi-nav .mobi-nav-inner .mn-body ul li {
  padding: 0;
}
#mobi-nav .mobi-nav-inner .mn-body ul li a {
  padding: 1rem;
  color: #f2f2f2;
  display: block;
}
#mobi-nav .mobi-nav-inner .mn-body ul li.odd {
  background-color: #071c41;
}
#page-wrap header {
  position: relative;
  z-index: 9999;
}
.top {
  background: #e5e5e5;
  box-shadow: 0 5px 2px rgba(9, 9, 9, 0.05);
}
.top .wrapper {
  display: flex;
}
.top h1,
.top h2 {
  margin: 0;
}
.top #logo {
  flex: 20;
  padding: .75rem;
  position: relative;
}
.top #logo a {
  text-decoration: none;
}
.top #logo a h1 {
  margin: 0;
  padding: 0;
  display: inline;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0);
}
.top #logo a h1 img {
  max-width: 100%;
  width: 100px;
  max-height: 172px;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -18px;
}
.top .main-nav {
  display: none;
}
.top .mobile-nav-link {
  flex: 1;
  flex-position: 1;
}
.top .mobile-nav-link.fa.fa-bars {
  align-items: center;
  font-size: 2rem;
  color: #10449E;
  text-align: right;
  padding: 2rem 2rem 0;
}
.sub-bar .wrapper .sub-nav {
  display: none;
}
.sub-bar .wrapper span {
  display: none;
}
#cta-bar {
  background-color: #10449E;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1.2px;
  padding: 1rem 0;
  font-size: 1.25rem;
}
#cta-bar .cta-highlight {
  font-weight: 700;
  color: #fff;
}
#cta-bar .btn {
  letter-spacing: .75px;
  margin: 1rem;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  display: block;
}
#body-content {
  min-height: 20rem;
}
#body-content .wrapper {
  padding: .75rem;
}
#body-content .services-title-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#body-content .services-title-box .services-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Roboto Condensed", helvetica-neue, helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(9, 9, 9, 0.85);
  border-bottom: 0.5rem solid #10449E;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
#body-content .title-splitter {
  text-align: center;
  background: url("../img/splitterbg.jpg") repeat-x center;
  width: 100%;
  margin: 3rem auto;
}
#body-content .title-splitter span {
  color: #10449E;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-family: "Roboto Condensed", helvetica-neue, helvetica, arial, sans-serif;
  font-weight: 700;
  padding: 1rem;
  background: #f2f2f2;
  line-height: 1.5;
}
#body-content .services {
  text-align: center;
}
#body-content .services img {
  max-height: 175px;
  max-width: 100%;
}
#body-content .services .denver-pro-fp-list > .wpb_wrapper,
#body-content .services .denver-pro-cc-fp-list > .wpb_wrapper {
  padding: 3rem 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
#body-content .services .denver-pro-fp-list > .wpb_wrapper {
  background-color: rgba(16, 68, 158, 0.15);
  border: 1px solid rgba(16, 68, 158, 0.85);
}
#body-content .services .denver-pro-cc-fp-list > .wpb_wrapper {
  background-color: rgba(221, 85, 49, 0.2);
  border: 1px solid rgba(221, 85, 49, 0.85);
}
#body-content .service-list {
  flex-direction: column;
}
#body-content .service-list li {
  padding: .5rem;
}
#body-content .service-list li:before {
  display: none;
}
@media screen and (min-width: 41rem) {
  html,
  body {
    font-size: 1rem;
  }
  #mobi-nav {
    display: none;
  }
  .sub-bar {
    background: rgba(9, 9, 9, 0.35);
    border-bottom: 1px solid rgba(242, 242, 242, 0.35);
  }
  .sub-bar .wrapper {
    display: flex;
  }
  .sub-bar .wrapper .sub-nav {
    display: flex;
    flex: 2.5;
    text-align: center;
    align-content: center;
  }
  .sub-bar .wrapper .sub-nav li {
    flex: 1;
    padding: 1rem;
  }
  .sub-bar .wrapper .sub-nav li a {
    color: #f2f2f2;
    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    -webkit-transition: 0.35s;
    -ms-transition: 0.35s;
    transition: 0.35s;
  }
  .sub-bar .wrapper .sub-nav li a:hover {
    color: #709ff1;
    text-shadow: 0 1px 1px rgba(9, 9, 9, 0.5);
  }
  .sub-bar .wrapper .sub-nav li:before {
    display: none;
  }
  .sub-bar .wrapper .sub-nav li.quote-request {
    flex: 2;
  }
  .sub-bar .wrapper span {
    flex: 1;
    display: inline;
  }
  .top {
    background: #f2f2f2;
    background: -webkit-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
    background: -moz-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
    background: -ms-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
    background: -o-linear-gradient(left, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
    background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 75%, #10449E 75%, #10449E 100%);
  }
  .top #logo {
    flex: 1;
    align-content: start;
    height: 54px;
  }
  .top #logo h1 {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .top #logo h1 img {
    margin-top: -10px;
    left: 0;
    height: 172px;
  }
  .top .main-nav {
    flex: 1;
    display: flex;
  }
  .top .mobile-nav-link {
    display: none;
  }
  #cta-bar .btn {
    display: inline-block;
    margin: 0 1rem;
  }
  #body-content .wrapper {
    padding: 1rem;
  }
  #body-content .services-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #body-content .services-title-box .services-title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(9, 9, 9, 0.85);
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    border-right: 0.5rem solid #10449E;
    padding-right: .5rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 51rem) {
  .top #logo a h1 img {
    top: 5px;
    left: 0;
    width: 172px;
  }
}
.page .body-content {
  margin-top: 4rem;
}
.body-content .wrapper {
  display: flex;
  flex-direction: column;
}
.body-content .wrapper .main {
  flex: 3;
  padding: 0 1rem;
}
.body-content .wrapper .sidebar {
  flex: 1;
}
.body-content .wrapper .sidebar #sidebar {
  display: flex;
  flex-direction: column;
}
.body-content .wrapper .sidebar #sidebar ul {
  flex-direction: column;
}
.body-content .wrapper .sidebar #sidebar ul li {
  padding: 0 0 .75rem;
}
@media screen and (min-width: 41rem) {
  .body-content .wrapper {
    flex-direction: row;
  }
}
.services.service-content ul {
  color: rgba(9, 9, 9, 0.55);
}
.services.service-content ul li {
  position: relative;
  padding: 1rem 0 1rem 3rem;
}
.services.service-content ul li:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #10449E;
  top: 50%;
  margin-top: -5px;
  left: 1.25rem;
  margin-left: -5px;
}
.services.service-list {
  display: flex;
  margin: 4rem 0;
}
.services.service-list .services-sidebar {
  display: none;
}
.services.service-list .services-list {
  flex: 3;
}
@media only screen and (min-width: 41rem) {
  .services.service-list .services-sidebar {
    display: inline;
    flex: 1;
  }
  .services.service-list .services-sidebar--list {
    display: flex;
    flex-direction: column;
  }
  .services.service-list .services-sidebar--list li {
    padding: .5rem 1rem .5rem 0;
  }
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
  color: #f2f2f2;
}
footer .main {
  background: url("../img/footerbg.jpg") no-repeat center bottom #0C46AA;
  /* background image color comes from the photo */
  min-height: 100vh;
  color: #f2f2f2;
  font-family: "lato", helvetica-neue, helvetica, arial, sans-serif;
  font-weight: 300;
}
footer .main .footer-head {
  padding: 5.5rem 1rem 1rem;
}
footer .main .footer-head h3 {
  font-size: 5rem;
  margin: 0;
  font-family: "lato", helvetica-neue, helvetica, arial, sans-serif;
  font-weight: 100;
}
footer .main .footer-head p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
footer .main .footer-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
}
footer .main .footer-content h4 {
  font-size: 3rem;
  margin: 0 0 2.5rem 0;
  font-family: "lato", helvetica-neue, helvetica, arial, sans-serif;
  font-weight: 100;
}
footer .main .footer-content ul {
  flex-direction: column;
}
footer .main .footer-content ul li {
  padding: 1rem 0;
  color: #f2f2f2;
}
footer .main .footer-content ul li:before {
  display: none;
}
footer .main .footer-content .info {
  flex: 1;
}
footer .main .footer-content .info .fa {
  margin-right: .5rem;
  font-size: 1.5rem;
}
footer .main .footer-content .info a {
  color: #f2f2f2;
  transition: .35s;
  font-weight: 400;
  font-size: 1.25rem;
}
footer .main .footer-content .info a:hover {
  color: #dd5531;
}
footer .main .footer-content .form {
  flex: 1;
}
footer .main .footer-content .form form {
  display: flex;
  flex-direction: column;
}
footer .main .footer-content .form input,
footer .main .footer-content .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(9, 38, 89, 0.4);
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: .5rem;
  border: 1px solid rgba(242, 242, 242, 0.3);
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -webkit-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
footer .main .footer-content .form input:focus,
footer .main .footer-content .form textarea:focus {
  outline-width: 0;
  background-color: #0d367e;
}
footer .main .footer-content .form .floatlabel-wrapper {
  display: flex;
}
footer .main .footer-content .form .floatlabel-wrapper .label-floatlabel {
  top: 6px!important;
}
footer .main .footer-content .social {
  flex: 1;
}
footer .main .footer-content .social ul#footer-social {
  flex-direction: row;
  font-size: 2.75rem;
}
footer .main .footer-content .social ul#footer-social li {
  margin-right: 1rem;
  padding: 0;
}
footer .main .footer-content .social ul#footer-social li.facebook a {
  color: #f2f2f2;
}
footer .main .footer-content .social ul#footer-social li.yelp a {
  color: #f2f2f2;
}
footer .main .footer-content .social ul#footer-social li.youtube a {
  color: #f2f2f2;
}
footer .copyright {
  background: #092659;
  min-height: 3rem;
}
footer .copyright .footer-copyright {
  padding: 1rem 0;
  font-size: .75rem;
  font-weight: 300;
  color: rgba(242, 242, 242, 0.35);
}
@media screen and (min-width: 41rem) {
  footer .main .footer-content {
    flex-direction: row;
  }
  footer .main .footer-content .info {
    flex: 1;
  }
  footer .main .footer-content .form {
    flex: 1;
  }
  footer .main .footer-content .form form {
    padding: 0 5rem 0 0;
  }
  footer .main .footer-content .social {
    flex: 1;
  }
  footer .copyright {
    background: #092659;
    min-height: 3rem;
  }
}
