.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.11111rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    font-size: 0.88889rem;
    background-color: @blue;
    box-shadow: 0px 3px 0 darken(@blue,10%);
    color: @white;
    transition: background-color .25s ease-out;

    &:hover {
    	background-color: lighten(@blue, 15%);
    	box-shadow: 0px 3px 0 darken(lighten(@blue, 15%),10%);
    }
	&.tiny {
		padding: 0.55556rem 1.11111rem 0.61111rem 1.11111rem;
		font-size: .6111rem;
	}
	&.small {
		padding: 0.77778rem 1.55556rem 0.83333rem 1.55556rem;
    	font-size: 0.72222rem;
	}
	&.large {
	    padding: 1rem 2rem 1.05556rem 2rem;
	    font-size: 1.11111rem;
	}
	&.expand {
		padding-left: 0.88889rem;
	    padding-right: 0.88889rem;
	    width: 100%;
	}
	&.round {
		.round-corners(50%);
	}
	&.radius {
		.round-corners;
	}
	&.dark-blue {
		background-color: @dark-blue;
		box-shadow: 0 3px 0 darken(@dark-blue, 15%);
		&:hover {
			background-color: lighten(@dark-blue, 15%);
			box-shadow: 0px 3px 0 darken(lighten(@dark-blue, 15%),10%);

		}
	}
	&.orange {
		background-color: @orange;
		box-shadow: 0px 3px 0 darken(@orange, 15%);

		&:hover {
			background-color: spin(@orange, 20deg);
    		box-shadow: 0px 3px 0 darken(lighten(@orange, 15%),10%);

		}
	}
}