#hero {

}

@media screen and (min-width: 41rem) {
	#hero {
		max-height: 40vh;
		margin-top: -70px;
		overflow: hidden;
	}
}

@media screen and (min-width: 1129px) {
	#hero {
		max-height: 55vh;
		margin-top: -70px;
	}
}