.main-nav {
    .navigation {
        list-style: none;
        text-align: center;
        li {
            padding: 0;
            display: inline-block;
            a {
                padding: 20px;
                .lean-angle(@skew);
                display: inline-block;
                color: #fff;
                text-shadow: 0 1px 0 #000;
                font-weight: bold;
                margin-left: -5px;
                .smooth-hover(.25s);
                span {
                    display: inline-block;
                    .lean-angle(@inv-skew);
                }
                &.commercialcleaning {
                    background-color: @orange;
                    &:hover {
                        background-color: spin(@orange, 20deg);
                    }
                }
                &.construction {
                    background-color: @blue;
                    &:hover {
                        background-color: lighten(@blue, 5%)
                    }
                }
                &.painting {
                    background-color: @dark-blue;
                    &:hover {
                        background-color: lighten(@dark-blue, 5%)
                    }
                }
            }
        }
    }
}