.team-wrap {
	display: flex;
	flex-wrap: wrap;
}
.team-member {
	padding: 0 1rem;
	margin-bottom: 2rem;
	.team-member-photo {
		width: 150px;
		height: 150px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0 auto 1.25rem;
		border: 4px solid @orange;
		box-shadow: 0 4px 4px fade(@black, 25%);
		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	h2 {
		color: @dark-blue;
		line-height: 1.25;
		margin: 0;
		padding: 0;
		text-align: center;
		.team-title {
			color: @orange;
			font-size: .9rem;
			display: block;
			font-family: "Lato";
		}
	}
	ul {
		font-size: .9rem;
		li {
			padding: .5rem .25rem 0 1rem;
			&:before {
				display: none;
			}
		}
	}
}
@media only screen and (min-width: 41rem) {
	
}
@media only screen and (min-width: 51rem) {
	.team-wrap {
		flex: 3;
	}
	.team-member {
		max-width: 45%;
		.team-member-photo {
			width: 200px;
			height: 200px;
		}
	}
}