.wpcf7-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  p {
    margin: 0 0 .5rem 0;
    display: flex;
    flex-direction: column;
  }
  .wpcf7-control-wrap {
    display: flex;
  }
  .wpcf7-checkbox {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    .wpcf7-list-item {
      margin: .25rem 0;
    }
  }
}

// Request A quote

.raq-lists {
  display: flex;
  .raq-list {
    flex: 1;
    h3 {
      color: @blue;
    }
  }
}

.wpcf7-form-control-wrap #questionscomments {
  width: 100%!important;
}