html, body {
	background: @white;
	font-size: .9rem;
	font-family: @lato;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, {
	font-family: @roboto;
	font-weight: bold;
	color: @dark-blue;
}

// ul {
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// 	display: flex;
// 	li {
// 		padding: 1rem;
// 	}
// 	&.vertical-list {
// 		flex-direction: column;
// 	}
// }

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	color: fade(@black, 55%);
	li {
		position: relative;
		padding: 1rem 0 1rem 3rem;
		&:before {
			position: absolute;
			content: "";
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background: @blue;
			top: 50%;
			margin-top: -5px;
			left: 1.25rem;
			margin-left: -5px;
		}
	}
	&.vertical-list {
		flex-direction: column;
	}
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: @site-width;
	margin: 0 auto;
}