.lean-angle(@angle) {
    -moz-transform: skew(@angle);
    -o-transform: skew(@angle);
    -webkit-transform: skew(@angle);
    -ms-transform: skew(@angle);
    transform: skew(@angle);
}
.smooth-hover(@hovertime: .35s) {
    -moz-transition: @hovertime;
    -o-transition: @hovertime;
    -webkit-transition: @hovertime;
    -ms-transition: @hovertime;
    transition: @hovertime;
}
.header-bg {
    background: @white;
    background: -webkit-linear-gradient(left, @white 0%, @white 75%, @blue 75%, @blue 100%);
    background:    -moz-linear-gradient(left, @white 0%, @white 75%, @blue 75%, @blue 100%);
    background:     -ms-linear-gradient(left, @white 0%, @white 75%, @blue 75%, @blue 100%);
    background:      -o-linear-gradient(left, @white 0%, @white 75%, @blue 75%, @blue 100%);
    background:         linear-gradient(to right, @white 0%, @white 75%, @blue 75%, @blue 100%);
}

.round-corners(@radius: 3px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

