//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//                       Color Settings
//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// @blue: #274a87;                    // Original Blue Color
// @dark-blue: #142648;               // Original Dark Blue

@blue: #10449E;                       // More vibrant blue
@dark-blue: darken(@blue, 15%);       // Matched hues of blue
@orange: #dd5531;
@white: #f2f2f2;
@black: #090909;

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//                        Font Settings
//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

@lato: "lato", helvetica-neue, helvetica, arial, sans-serif;
@roboto: "Roboto Condensed", helvetica-neue, helvetica, arial, sans-serif;

@bold: 700;

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//                       Site Settings
//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

@site-width: 71rem;

@lean-li-height: 100px;
@skew-angle: 30deg;
@skew: @skew-angle, 0;
@inv-skew: -@skew-angle, 0;