footer {
	h1, h2, h3, h4, h5 {
		color: @white;
	}
	.main {
		background: url("../img/footerbg.jpg") no-repeat center bottom #0C46AA; /* background image color comes from the photo */
		min-height: 100vh;
		color: @white;
		font-family: @lato;
		font-weight: 300;
		.footer-head {
			padding: 5.5rem 1rem 1rem;

			h3 {
				font-size: 5rem;
				margin: 0;
				font-family: @lato;
				font-weight: 100;
			}
			p {
				line-height: 1.5rem;
				margin-bottom: 1.5rem;
			}
		}
		.footer-content {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			color: @white;
			h4 {
				font-size: 3rem;
				margin: 0 0 2.5rem 0;
				font-family: @lato;
				font-weight: 100;
			}
			ul {
				flex-direction: column;
				li {
					padding: 1rem 0;
					color: @white;
					&:before {
						display: none;
					}
				}
			}
			.info {
				flex: 1;
				.fa {
					margin-right: .5rem;
					font-size: 1.5rem;
				}
				a {
					color: @white;
					transition: .35s;
					font-weight: 400;
					font-size: 1.25rem;
					&:hover {
						color: @orange;
					}
				}
			}
			.form {
				flex: 1;
				form {
					display: flex;
					flex-direction: column;
				}
		        input, textarea {
		          display: block;
		          width: 100%;
		          margin-bottom: 1rem;
		          background-color: fade(@dark-blue, 40%);
		          border: 0;
		          .round-corners;
		          padding: .5rem;
		          border: 1px solid fade(@white, 30%);
		          .smooth-hover;
		          &:focus {
		            outline-width: 0;
		            background-color: lighten(@dark-blue, 8%);
		          }
		        }
		        .floatlabel-wrapper {
		        	display: flex;
		        	.label-floatlabel {
		        		top: 6px!important;
		        	}
		        }
			}
			.social {
				flex: 1;
				ul#footer-social {
					flex-direction: row;
					font-size: 2.75rem;
					li {
						margin-right: 1rem;
						padding: 0;
						&.facebook {
							a {
								color: @white;
							}
						}
						&.yelp {
							a {
								color: @white;
							}
						}
						&.youtube {
							a {
								color: @white;
							}							
						}
					}
				}
			}
		}
	}
	.copyright {
		background: @dark-blue;
		min-height: 3rem;
		.footer-copyright {
		    padding: 1rem 0;
		    font-size: .75rem;
		    font-weight: 300;
		    color: fade(@white, 35%);
		}
	}

}


@media screen and (min-width: 41rem) {
	footer {
		.main {
			.footer-head {
			}
			.footer-content {
				flex-direction: row;

				h4 {
				}
				.info {
					flex: 1;
				}
				.form {
					flex: 1;
          form {
            padding: 0 5rem 0 0;
          }
				}
				.social {
					flex: 1;
				}
			}
		}
		.copyright {
			background: @dark-blue;
			min-height: 3rem;
		}
	}
}