@media screen and (min-width: 41rem) {
	html, body {
		font-size: 1rem;
	}
	#mobi-nav {
		display: none;
	}
	.sub-bar {
		background: fade(@black, 35%);
		border-bottom: 1px solid fade(@white, 35%);
		.wrapper {
			display: flex;
			.sub-nav {
				display: flex;
				flex: 2.5;
				text-align: center;
				align-content: center;
				li {
					flex: 1;
					padding: 1rem;
					a {
						color: @white;
						.smooth-hover(.35s);
						&:hover {
							color: lighten(@blue, 35%);
							text-shadow: 0 1px 1px fade(@black, 50%);
						}
					}
					&:before {
						display: none;
					}
					&.quote-request {
						flex: 2;
					}
				}
			}
			span {
				flex: 1;
				display: inline;
			}
		}
	}
	.top {
		.header-bg;
		#logo {
			flex: 1;
			align-content: start;
			height: 54px;
			h1 {
				display: inline;
				margin: 0;
				padding: 0;
				img {
					margin-top: -10px;
					left: 0;
					height: 172px;
				}
			}
		}
		.main-nav{
			flex: 1;
			display: flex;
		}
		.mobile-nav-link {
			display: none;
		}
	}
	#cta-bar {
		.btn {
			display: inline-block;
			margin: 0 1rem;
		}
	}


	#body-content {
		.wrapper {
			padding: 1rem;
		}
		.services-title-box {
			display: flex;
			flex-direction: row;
			align-items: center;
			.services-title {
				text-align: center;
			    font-size: 3rem;
			    text-transform: uppercase;
			    font-weight: 700;
			    color: fade(@black, 85%);
			    border-bottom: none;
			    padding-bottom: 0;
			    margin-bottom: 0;
			    border-right: .5rem solid @blue;
			    padding-right: .5rem;
			    margin-right: 1rem;
			}
		}
	}
}