#mobi-nav {
	width: 75%;
	
	.mobi-nav-inner {
		position: fixed;
		width: 75%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: right;
		color: @white;
		background-color: @dark-blue;
		overflow: auto;
		.topper {
			background-color: @blue;
			padding: 1rem;
			background: url("../img/mobile-nav-header.png") center center;
			height: 10rem;
			.mobile-nav-link {
				font-size: 2rem;
			}
			.sidebar-logo {
				text-align: center;
				img {
					height: 8rem;
				}
			}

		}
		.mn-body {
			ul {
				flex-direction: column;
				text-align: left;
				li {
					padding: 0;
					a {
						padding: 1rem;
						color: @white;
						display: block;
					}
					&.odd {
						background-color: darken(@dark-blue, 5%);
					}
				}
			}
		}
	}
}