.page {
	.body-content {
		margin-top: 4rem;
	}
}
.body-content {
	.wrapper {
		display: flex;
		flex-direction: column;
		.main {
			flex: 3;
			padding: 0 1rem;
		}
		.sidebar {
			flex: 1;
			#sidebar {
				display: flex;
				flex-direction: column;
				ul {
					flex-direction: column;
					li {
						padding: 0 0 .75rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 41rem) {
	.body-content {
		.wrapper {
			flex-direction: row;
		}
	}
}