.services.service-content {
	//padding: 0 1rem;
	ul {
		color: fade(@black, 55%);
		li {
			position: relative;
			padding: 1rem 0 1rem 3rem;
			&:before {
				position: absolute;
				content: "";
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background: @blue;
				top: 50%;
				margin-top: -5px;
				left: 1.25rem;
				margin-left: -5px;
			}
		}
	}
}
.services.service-list {
	display: flex;
	margin: 4rem 0;
	//padding: 0 1rem;
	.services-sidebar {
		display: none;
	}
	.services-list {
		flex: 3;
	}
}

@media only screen and (min-width: 41rem) {
	.services.service-list {
		.services-sidebar {
			display: inline;
			flex: 1;
			&--list {
				display: flex;
				flex-direction: column;
				li {
					padding: .5rem 1rem .5rem 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 51rem) {
	
}