#page-wrap {
	header {
		position: relative;
		z-index: 9999;
	}
}
.top {
	background: darken(@white, 5%);
	box-shadow: 0 5px 2px fade(@black, 5%);
	.wrapper {
		display: flex;
	}
	h1, h2 {
		margin: 0;
	}
	#logo {
		flex: 20;
		padding: .75rem;
		position: relative;
		a {
			text-decoration: none;
			h1 {
				margin: 0;
				padding: 0;
				display: inline;
				width: 100%;
				height: 100%;
				color: rgba(0,0,0,0);
				img {
					max-width: 100%;
					width: 100px;
					max-height: 172px;
					position: absolute;
					top: 5px;
					left: 50%;
					margin-left: -18px;
				}
			}
		}
	}
	.main-nav {
		display: none;
	}
	.mobile-nav-link {
		flex: 1;
		flex-position: 1;
		&.fa.fa-bars {
			align-items: center;
			font-size: 2rem;
			color: @blue;
			text-align: right;
			padding: 2rem 2rem 0;
		}
	}
}

.sub-bar {
	.wrapper {
		.sub-nav {
			display: none;
		}
		span {
			display: none;
		}
	}
}

#cta-bar {
	background-color: @blue;
	text-align: center;
	text-transform: uppercase;
	color: fade(#fff, 50%);
	letter-spacing: 1.2px;
	padding: 1rem 0;
	font-size: 1.25rem;
	.cta-highlight {
		font-weight: @bold;
		color: #fff;
	}
	.btn {
		letter-spacing: .75px;
    	margin: 1rem;
    	text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    	display: block;
	}
}
#body-content {
	min-height: 20rem; //placeholder
	.wrapper {
		padding: .75rem;
	}
	.services-title-box {
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
		.services-title {
			text-align: center;
		    font-size: 3rem;
		    font-family: @roboto;
		    text-transform: uppercase;
		    font-weight: 700;
		    color: fade(@black, 85%);
		    border-bottom: .5rem solid @blue;
		    padding-bottom: 1.5rem;
		    margin-bottom: 1.5rem;
		}
	}
	.title-splitter {
		text-align: center;
		background: url("../img/splitterbg.jpg") repeat-x center;
		width: 100%;
		margin: 3rem auto;
		span {
			color: @blue;
			text-transform: uppercase;
			font-size: 1.75rem;
			font-family: @roboto;
			font-weight: 700;
			padding: 1rem;
			background: #f2f2f2;
			line-height: 1.5;
		}

	}

	.services {
		text-align: center;
		img {
			max-height: 175px;
			max-width: 100%;
		}
		.denver-pro-fp-list > .wpb_wrapper, .denver-pro-cc-fp-list > .wpb_wrapper {
			padding: 3rem 1rem;
			.round-corners(5px);
			margin-bottom: 1.5rem;
		}
		.denver-pro-fp-list {
			& > .wpb_wrapper {
				background-color: fade(@blue, 15%);
				border: 1px solid fade(@blue, 85%)
			}
		}
		.denver-pro-cc-fp-list {
			& > .wpb_wrapper {
				background-color: fade(@orange, 20%);
				border: 1px solid fade(@orange, 85%)
			}
		}
	}

	.service-list {
		flex-direction: column;
		li {
			padding:  .5rem;
			&:before {
				display: none;
			}
		}
	}
}



